.venv/
dist/
.env 
__pycache__/
.pytest_cache/
.python-version
.ruff_cache/
my_note.txt
*.odt
*.txt
*.pdf
demo.cast
/sonar-project.properties
TEMP/
tmp.py
404.html
*.sqlite3
staticfiles/
static/
tests_copy.py
tasks_list copy 2 до шага 7.html
tasks_list copy.html