name: Build

on:
  - push
  - pull_request

jobs:
  sonarcloud:
    name: SonarCloud
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Важно для корректного анализа

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          pip install uv
          make install
          pip install coverage

      - name: Generate Coverage Report
        run: |
          # Запуск тестов и создание XML отчета
          uv run coverage run manage.py test
          uv run coverage xml -i

      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=OlegGolubev74_python-project-52
            -Dsonar.organization=oleggolubev74
            -Dsonar.python.coverage.reportPaths=coverage.xml
